{% extends "base.html" %}


{% block head %}

{% block styles%}
{{super()}}
{% endblock styles %}
<title>Home</title>
{% endblock head %}

{% block body %}
{% block navbar %}
{{super()}}
{% endblock navbar %}
<br>
{% block content %}
<h2 class="py-2 pr-3 container "><strong>Monitoring</strong></h2>
<div class="row text text-dark my-5  ">
    <div class="col-4">
      <h4>
        <ul style="list-style-type: none;">
          <li><label class="radio-inline "><input type="radio" name="type" id="graph1" value="" onchange="myFunction()"> Cpu Usage Graph</label><br></li>
          <li><label class="radio-inline "><input type="radio" name="type" id="graph2" value="" onchange="myFunction()"> idle_time_cpu</label><br></li>
          <li><label class="radio-inline "><input type="radio" name="type" id="graph3" value="" onchange="myFunction()"> kernal_process_time_cpu</label><br></li>
          <li><label class="radio-inline "><input type="radio" name="type" id="graph4" value="" onchange="myFunction()"> normal_process_time_usermode_cpu</label><br></li>
          <li><label class="radio-inline "><input type="radio" name="type" id="graph5" value="" onchange="myFunction()">freq_max</label><br></li>
          <li><label class="radio-inline "><input type="radio" name="type" id="graph6" value="" onchange="myFunction()">freq_current</label><br></li>
          <li><label class="radio-inline "><input type="radio" name="type" id="graph7" value="" onchange="myFunction()">disk_usage_total</label><br></li>
          <li><label class="radio-inline "><input type="radio" name="type" id="graph8" value="" onchange="myFunction()">disk_usage_used</label><br></li>
          <li><label class="radio-inline "><input type="radio" name="type" id="graph9" value="" onchange="myFunction()">disk_usage_free</label><br></li>
          <li><label class="radio-inline "><input type="radio" name="type" id="graph10" value="" onchange="myFunction()">disk_usage_in_percent</label><br></li>
          <li><label class="radio-inline "><input type="radio" name="type" id="graph11" value="" onchange="myFunction()">disk_reading_count</label><br></li>
          <li><label class="radio-inline "><input type="radio" name="type" id="graph12" value="" onchange="myFunction()">disk_writing_count</label><br></li>
          <li><label class="radio-inline "><input type="radio" name="type" id="graph13" value="" onchange="myFunction()">disk_reading_bytes</label><br></li>
          <li><label class="radio-inline "><input type="radio" name="type" id="graph14" value="" onchange="myFunction()">disk_writing_bytes</label><br></li>
          <li><label class="radio-inline "><input type="radio" name="type" id="graph15" value="" onchange="myFunction()">network in</label><br></li>
          <li><label class="radio-inline "><input type="radio" name="type" id="graph16" value="" onchange="myFunction()">network out</label><br></li>
          <li><label class="radio-inline "><input type="radio" name="type" id="graph17" value="" onchange="myFunction()">packets in</label><br></li>
          <li><label class="radio-inline "><input type="radio" name="type" id="graph18" value="" onchange="myFunction()">packets out</label><br></li>
    
        </ul>
        
        <!-- <div class="row border">
          <div class="col-3 border border-dark">
          </div>
          <div class="col-3 border border-dark">
          </div>
          <div class="col-3 border border-dark">
          </div>
          <div class="col-3 border border-dark">
          </div>
        
        </div><br> -->

      
      <!-- <button class="btn btn-secondary">
        <a class="btn" href="/trustrepository/monitoring">Refresh</a>
      </button> -->
      <!-- <br> -->
      <!-- <label class="radio-inline"><input type="radio" name="type" id="" value="" onchange="myFunction()">Memory Graph</label><br> -->
      </h4>
    </div>

      
  <!-- 
      <img class="col-6 dark border border-dark img-fluid" style="display:none"src="{{ image }}" alt="my plot" id="image1">
      <img class="col-6 dark border border-dark img-fluid" style="display:none"src="/plot2.png" alt="my plot" id="image2">
      <img class="col-6 dark border border-dark img-fluid" style="display:none"src="/plot.png" alt="my plot" id="image3"> -->
      <div class="col-8">
        <div class="">
          <img class="dark border border-dark" style="display:none" src="{{url_for('.static',filename='image/monitoring/cpu_load.png')}}" alt="graph" id="image1">
          <img class="dark border border-dark" style="display:none" src="{{url_for('.static',filename='image/monitoring/idle_time_cpu_plot.png')}}" alt="graph" id="image2">
          <img class="dark border border-dark" style="display:none" src="{{url_for('.static',filename='image/monitoring/kernal_process_time_cpu_plot.png')}}" alt="graph" id="image3">
          <img class="dark border border-dark" style="display:none" src="{{url_for('.static',filename='image/monitoring/normal_process_time_usermode_cpu_plot.png')}}" alt="graph" id="image4">
          <img class="dark border border-dark" style="display:none" src="{{url_for('.static',filename='image/monitoring/freq_max_plot.png')}}" alt="graph" id="image5">
          <img class="dark border border-dark" style="display:none" src="{{url_for('.static',filename='image/monitoring/freq_min_plot.png')}}" alt="graph" id="image6">
          <img class="dark border border-dark" style="display:none" src="{{url_for('.static',filename='image/monitoring/disk_usage_total_plot.png')}}" alt="graph" id="image7">
          <img class="dark border border-dark" style="display:none" src="{{url_for('.static',filename='image/monitoring/disk_usage_used_plot.png')}}" alt="graph" id="image8">
          <img class="dark border border-dark" style="display:none" src="{{url_for('.static',filename='image/monitoring/disk_usage_free_plot.png')}}" alt="graph" id="image9">
          <img class="dark border border-dark" style="display:none" src="{{url_for('.static',filename='image/monitoring/disk_usage_in_percent_plot.png')}}" alt="graph" id="image10">
          <img class="dark border border-dark" style="display:none" src="{{url_for('.static',filename='image/monitoring/disk_reading_count_plot.png')}}" alt="graph" id="image11">
          <img class="dark border border-dark" style="display:none" src="{{url_for('.static',filename='image/monitoring/disk_writing_count_plot.png')}}" alt="graph" id="image12">
          <img class="dark border border-dark" style="display:none" src="{{url_for('.static',filename='image/monitoring/disk_reading_bytes_plot.png')}}" alt="graph" id="image13">
          <img class="dark border border-dark" style="display:none" src="{{url_for('.static',filename='image/monitoring/disk_writing_bytes_plot.png')}}" alt="graph" id="image14">
          <img class="dark border border-dark" style="display:none" src="{{url_for('.static',filename='image/monitoring/net_in_plot.png')}}" alt="graph" id="image15">
          <img class="dark border border-dark" style="display:none" src="{{url_for('.static',filename='image/monitoring/net_out_plot.png')}}" alt="graph" id="image16">
          <img class="dark border border-dark" style="display:none" src="{{url_for('.static',filename='image/monitoring/packet_in_plot.png')}}" alt="graph" id="image17">
          <img class="dark border border-dark" style="display:none" src="{{url_for('.static',filename='image/monitoring/packet_out_plot.png')}}" alt="graph" id="image18">
          
        </div>
      </div>
      
       
        <!-- <h1>Graph of Cpu Usage</h1>
        <img class="col-6 dark border border-dark img-fluid" src="{{url_for('.static',filename='image/monitoring/cpu_plot.png')}}" alt="Cpu usage grapf" id="image1">
        <h1>Graph of memory Usage</h1>
        <img class="col-6 dark border border-dark img-fluid" src="{{url_for('.static',filename='image/monitoring/memory_plot.png')}}" alt="memory usage grapf" id="image2"> -->
        
</div>


{% endblock content %}
{% block scripts %}
{{ super() }}
<script>
    // var a = document.getElementsByTagName('a');
    // // loop through all 'a' elements
    // for (i = 0; i < a.length; i++) {
    //     // Remove the class 'active' if it exists
    //     a[i].classList.remove('active')
    // }
    document.getElementById("a-home").classList.remove('active')

    document.getElementById("a-about").classList.remove('active')
    document.getElementById("a-dashboard").classList.remove('active')
    document.getElementById("a-repo").classList.add('active')
    document.getElementById("a-data").classList.remove('active')
    // if (document.getElementById('one').checked) {
    //   document.getElementById("image1").style.display = "block";
    //   document.getElementById("image2").style.display = "none";
    //     } else if (document.getElementById('two').checked) {
    //       document.getElementById("image1").style.display = "none";
    //       document.getElementById("image2").style.display = "block";
    //     } 
    function myFunction() {
        var checkBox = document.getElementById("myCheck");
        // var image1 = document.getElementById("image1");
        // var image2 = document.getElementById("image2");
        for(let i=1;i<=18;i++){
          if(document.getElementById('graph'+i).checked){
            document.getElementById("image"+i).style.display = "block";
          }
          else{
            document.getElementById("image"+i).style.display = "none";
          }
        } 
        // if (document.getElementById('one').checked) {
        //     image1.style.display = "block";
        //     image2.style.display = "none";
        // } else if (document.getElementById('two').checked) {
        //     image1.style.display = "none";
        //     image2.style.display = "block";
        // } 
    }

</script>

{% endblock %}
{% endblock %}
