{% extends "base.html" %}


{% block head %}

{% block styles%}
{{super()}}
{% endblock styles %}
<title>Home</title>
{% endblock head %}

{% block body %}
{% block navbar %}
{{super()}}
{% endblock navbar %}
<br>
{% block content %}
<h2 class="py-2 pr-3 container "><strong>Log Files</strong></h2>
<div class="row container-fluid text text-dark card my-5  ">
    <!-- <div class="col-6 dark"> -->
      <!-- <h4> -->
      <!-- <label class="radio-inline pr-3"><input type="radio" name="type" id="one" value="" onchange="myFunction()">Cpu Usage Graph</label><br> -->
      <!-- <label class="radio-inline"><input type="radio" name="type" id="two" value="" onchange="myFunction()">Memory Graph</label><br> -->
      <!-- </h4> -->
    <!-- </div> -->
 
    <div class="card card-body col-6 accordion" id="accordionExample">
      

      {% for key, value in grouped_date.items() %}
      <!-- # Accordian Title -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingone">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{loop.index}}" aria-expanded="true" aria-controls="#collapseone">
            {{key}}
          </button>
        </h2>
        <div id="collapse{{loop.index}}" class="accordion-collapse collapse" aria-labelledby="headingone" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>
              {% for x in value %}
              <li>{{x}} <button class="btn btn-secondary" onclick="file_downloader('{{x}}')">Download</button></li>
              {% endfor %} 
            </strong>
          </div>
        </div>
      </div>

      <!-- <h1>Key: </h1> -->
      <!-- <h1>value: {{value}}</h1> -->
      <!-- # Accordian COntent -->
        
      
      {% endfor %}


    </div>
    <div class="col-6"><p></p>
      <iframe src="" id= "frame" frameborder="0"></iframe>
    </div>
    <!-- 
      <img class="col-6 dark border border-dark img-fluid" style="display:none"src="{{ image }}" alt="my plot" id="image1">
      <img class="col-6 dark border border-dark img-fluid" style="display:none"src="/plot2.png" alt="my plot" id="image2">
      <img class="col-6 dark border border-dark img-fluid" style="display:none"src="/plot.png" alt="my plot" id="image3"> -->
      
      <!-- <div class="col-6 "> -->
        <!-- <img class="dark border border-dark img-fluid" style="display:none" src="{{url_for('.static',filename='image/monitoring/cpu_plot.png')}}" alt="Cpu usage grapf" id="image1"> -->
        <!-- <img class=" dark border border-dark img-fluid" style="display:none" src="{{url_for('.static',filename='image/monitoring/memory_plot.png')}}" alt="memory usage grapf" id="image2"> -->
  
      <!-- </div> -->
      
       
        <!-- <h1>Graph of Cpu Usage</h1>
        <img class="col-6 dark border border-dark img-fluid" src="{{url_for('.static',filename='image/monitoring/cpu_plot.png')}}" alt="Cpu usage grapf" id="image1">
        <h1>Graph of memory Usage</h1>
        <img class="col-6 dark border border-dark img-fluid" src="{{url_for('.static',filename='image/monitoring/memory_plot.png')}}" alt="memory usage grapf" id="image2"> -->
        
</div>

{% endblock content %}
{% block scripts %}
{{ super() }}
<script>
    // var a = document.getElementsByTagName('a');
    // // loop through all 'a' elements
    // for (i = 0; i < a.length; i++) {
    //     // Remove the class 'active' if it exists
    //     a[i].classList.remove('active')
    // }
    document.getElementById("a-home").classList.remove('active')

    document.getElementById("a-about").classList.remove('active')
    document.getElementById("a-dashboard").classList.remove('active')
    document.getElementById("a-repo").classList.add('active')
    document.getElementById("a-data").classList.remove('active')
    // if (document.getElementById('one').checked) {
    //   document.getElementById("image1").style.display = "block";
    //   document.getElementById("image2").style.display = "none";
    //     } else if (document.getElementById('two').checked) {
    //       document.getElementById("image1").style.display = "none";
    //       document.getElementById("image2").style.display = "block";
    //     } 
    // function myFunction() {
    //     // var checkBox = document.getElementById("myCheck");
    //     // var text = document.getElementById("text");
    //     // var image1 = document.getElementById("image1");
    //     // var image2 = document.getElementById("image2");

    //     // if (document.getElementById('one').checked) {
    //     //     image1.style.display = "block";
    //     //     image2.style.display = "none";
    //     // } else if (document.getElementById('two').checked) {
    //     //     image1.style.display = "none";
    //     //     image2.style.display = "block";
    //     // } 
    //     // else {
    //     //     image1.style.display = "none";
    //     //     image2.style.display = "none";
    //     //     image3.style.display = "block";
    //     // }
    // }
    function file_downloader(x){
      // console.log(x.slice(0,10)+ "_"+x.slice(11)+".csv" )
      var y = x.slice(0,10)+ "_"+x.slice(11)+".csv";
      var z = y.replaceAll(":","-")
      console.log(z)
      window.location = "/static/logs/"+ z;
    }

    // function test2function(){
    //   var buttons = document.getElementsByClassName('testbtn');
    //         for (var i=0 ; i < buttons.length ; i++){
    //           (function(index){
    //             buttons[index].onclick = function(){
    //               // alert("I am button " + index);
    //               {% for x in range(0,len) %}
    //               $path=""
    //               if('x' == 'i'){
    //               $path="{{file_list[x] | safe}}"};
    //               // document.getElementById("frame").src="../../{{file_list[x] | safe}}";
    //               // document.getElementById("frame").src="../../static/2022-02-09_17-26-03.csv";
                  
    //               $("#frame").attr("src","{{url_for('static',filename='/logs/')}}{{file_list[x] | safe}}");
    //               {%endfor%}
    //               // path2="{{file_list}}";
    //               // alert("test  "+path2);
    //               // alert("test"+path+index);
                  
    //             };
    //           })(i)
    //         }

    //   // alert('test');
    //   // btn_value = document.getElementById("btn_for_value");
    //   // alert('test'+$btn_value)
    //   // document.getElementById("frame").src="{{url_for('static', filename ='$btn_value')}}"

    // }

</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.2/papaparse.js"></script>
<script>
    function testfunction(tableData) {
        var table = $('<table></table>');
        $(tableData).each(function (i, rowData) {
            var row = $('<tr></tr>');
            $(rowData).each(function (j, cellData) {
                row.append($('<td>'+cellData+'</td>'));
            });
            table.append(row);
        });
        return table;
    }

    $.ajax({
        type: "GET",
        url: "http://localhost/logs/data.csv",
        success: function (data) {
            $('body').append(arrayToTable(Papa.parse(data).data));
        }
    });
</script>

{% endblock %}
{% endblock %}
