{% extends "base.html" %}


{% block head %}

{% block styles%}
{{super()}}
{% endblock styles %}
<title>Home</title>
{% endblock head %}

{% block body %}
{% block navbar %}
{{super()}}
{% endblock navbar %}
<br>
{% block content %}
<h2 class="py-2 pr-3 container "><strong>Databse Activity</strong></h2>
<div class="row text text-dark my-5  ">
    <div class="col-4">
      <h4>
        Registered users
        {% for x in users %}
        <li>{{x}} </li>
        {% endfor %}  
      </h4>
    </div>

  
      <div class="col-8">
        <h4>User IP: {{ip}}</h4>
      </div>
      

</div>
<div>
  <h3>
    Trust Percentage = {{text}}%
  </h3>
</div>


{% endblock content %}
{% block scripts %}
{{ super() }}
<script>

    document.getElementById("a-home").classList.remove('active')

    document.getElementById("a-about").classList.remove('active')
    document.getElementById("a-dashboard").classList.remove('active')
    document.getElementById("a-repo").classList.add('active')
    document.getElementById("a-data").classList.remove('active')


</script>

{% endblock %}
{% endblock %}
